

a:link {
    color: white;
}
  
a:visited {
    color: lightgrey;
}

#scoreboard{
    width:90vh;
    display:flex;
    justify-content: center;
    margin:auto;
}

.overlay{
    position: absolute;    
    background-color: rgba(0, 0, 0, 0.8);
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;    
}
.menu, .gameOver, .about, .highscores, .pause {
    margin-top: 20vh;    
}
.optionContainer{
    width:15vw;
    margin:auto;
    text-align: left;
}
.button{
    width:10vw;
    background-color: green;    
    padding: 25px 50px 25px 50px;
    margin: 10px auto 10px auto;
    border-radius: 15px;
}
.button:hover{    
    cursor: pointer;
    background-color: olivedrab;    
}
.countDown{    
    margin-top: 20vh;      
    font-size:50px;              
}

.countDown.animate{
    font-size: 500px;    
    transition: all 1s;
}

.visible{
    display:block;
}

.hidden{
    display: none;
}
@media (orientation: portrait) {
    .overlay{
        position: absolute;    
        background-color: rgba(0, 0, 0, 0.8);
        top:0;
        left:0;
        width: 98vw;
        height: 98vh;        
    }
    #scoreboard{
        width:90vw;        
    }
}
@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    .button{
        padding: 10px 20px 10px 20px;
    }
}
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .button{
        padding: 10px 20px 10px 20px;
    }   
}